* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0; 
}

h1, h2, h3 {
  margin: 0;
}

html {
  font-size: 18px;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  padding: 96px 0;
  max-width: 400px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 96px 0;
}